#map{
    position: absolute;
    top: 50px;
    
}
/*  TOP  BAR  */
#titlebar {
    position: absolute;
    font-family: 'Roboto Mono', 'Times New Roman', monospace;
    top: 0px;
    background-color: #025927;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    color: #fff9d1;
    width: 100%;
    height: 50px;
}

#title{
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    height: 10px;
    top: -11px;
}
#info {
    position: absolute;
    color: #fff9d1;
    cursor: help;   
    font-family: 'Roboto Mono', 'Times New Roman', monospace;
    font-size: 22px;
    padding: 0px;
    right: 10px;
    top: 8px;
}
#menue {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 25px;
}
#minYear {
    color: #ffe008;
}
#maxYear {
    color: #fff9d1;
}
#userControl {
    position: absolute;
    font-family: 'Roboto Mono', 'Times New Roman', monospace;
    font-size: 16px;
    top: 50px;
    left: 40px;
    right: 40px;
    background-color: #025927;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
    height: 35px;
}
#slider { 
    position: absolute;
    top: 24px;
    height: 10px;
    left: 130px;
    right: 77px;
    background: #fff9d1;
}



#BtmLck {
    position: absolute;
    cursor: pointer;
    left: 60px;
    top: 8px;
}
#TopLock {
    position: absolute;
    cursor: pointer;
    right: 11px;
    top: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-color: black;
}
/* Tooltip text */
.switch .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #c9c9c9;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.switch:hover .tooltiptext {
    visibility: visible;
}


#filterDiv {
    padding: 0px 4px 0px 4px;
}
#FilterTitle {
    position: relative;
    margin: 0px;
    top: 0px;
    left: -2px;
}
#FilX {
    position: absolute;
    right: 10px;
    font-size: 25px;
    top: 3px;
    cursor: pointer;
}
#FilterX {
    position: absolute;
    right: 31px;
    top: 6px;
    font-size: 20px;
    cursor: help;
}
.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}
/* HIDE MARKERS ON SLIDER HANDLES */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}
.slider-styled .noUi-handle .noUi-touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    width: auto;
    height: auto;
}
#slider .noUi-connect {
    background: #fff5b0;
    height: 20px;
}

#slider .noUi-handle {
    height: 15px;
    width: 15px;
    top: -4px;
    right: -7.5px; /* half the width */
    border-radius: 5px;
    border-color: #ffe008;
    background: #ffe008;
}

.yearClass {
    position: relative;
    font-size: 16px;
    margin: 10px;
    top: 10px;
    left: 0px;
}
#play {
    position: absolute;
    left: 10px;
}

.yearClassR {
    position: relative;
    font-size: 16px;
    margin: 10px;
    top: 7px;
    right: 0px;
    width: 10px;
}

#FilterButton {
    position: absolute;
    right: 14px;   
    width: 80px;
}
#TABBY {
    position: relative;
    height: 20px;
    width: 6%;
    left: 47%;
    background-color: #025927;
    color: #fff9d1;
    text-align: center;
    top: 105px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 5px 5px;
}
#TABBY:hover,
#TABBY:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.MapBoxCopy {
    text-decoration: underline;
}
/*
    font-family: 'Roboto Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Roboto Mono', 'Times New Roman', monospace;

*/
#coppiedText{
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    animation: fadeOut 3s;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    10% { opacity: 1; }
    100% { opacity: 0; }
}
#pincopy{
    position: relative;
    padding: 10px;
    background: white;
    border-radius: 4px;
    height: 18px;
}
#TabsBB {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    font-weight: normal;
    position: relative;
    top: -8px;
}
/* END TOP BAR */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#infoModal {
    display: block;
}

/* Modal Content */
.info-modal-content {
    position: fixed;
    left: 8%;
    right: 8%;
    top: 8%;
    bottom: 8%;
    align-content: center;
    font-family: 'Roboto Mono', 'Times New Roman', monospace;
    background-color: #025927;
    color: #fff9d1;
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #fff9d1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/*   LEGEND   */
.LegendContainer {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background-color: #025927;
    color: #fff9d1;
    bottom: 40px;
    left: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
}
#LegTitle{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    text-decoration: ;
    
}
.legendItem {
    display:inline-block;
    margin: 2px;
}
.food {
    color:#157CAE ;
}
.rawMaterials {
    color:#D7AA27 ;
}
.metals {
    color:#AF272F ;
}
.machinery {
    color:#00AEEF ;
}
.electronics {
    color:#FED103 ;
}
.auto {
    color:#EC008C ;
}
.miscManf {
    color:#4D5859 ;
}
#rtwsleg{
    position: absolute;
    left: 30px;
    bottom: 8px;
}
#RightToWorkLegend  {
    display: none;
}
.rtwSquareClass {
    position: absolute;
    color: #e0f0e0;
    font-size: 34px;
    bottom: -1px;
    left: 8px;
    z-index: 0;
}
.rtwSquareClassA {
    position: absolute;
    color: rgba(137, 176, 137, 0.3);
    font-size: 29px;
    bottom: 3px;
    left: 10px;
    z-index: 2;
}
.rtwSquareClassB {
    position: absolute;
    color: rgba(30, 69, 30, 0.3);
    font-size: 24px;
    bottom: 4px;
    left: 11px;
    z-index: 1;
}

/* The Close Button */
.closeLeg {
    color: #fff9d1;
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 18pt;
    font-weight: bold;
}

.closeLeg:hover,
.closeLeg:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.HiddenLegend {
    color:#A2AAAD ;
}

#link {
    color: #fff9d1;
    cursor: pointer;
}



/* END LEGEND */









/* FILTER WINDOW CODE */
#Filters {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    bottom: 40px;
    right: 40px;
    background-color: #025927;
    color: #fff9d1;
    width: 250px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);    
}

#goButton{
    background-color: grey;
    appearance: block;
    border: none;
    color: white;
    padding: 0px 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;    
    margin: 2px 0px;
}
#goButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}



#jvFilter {
    padding: 8px 0px;
}

#checkers {
    appearance: checkbox;
    margin: 4px 0px;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: white;
    opacity: 1;
    border-radius: 2px;
}
#rtwText{
    position: relative;
    top: -2px;
}
#rtwsFilter {
    position: relative;
    padding: 2px;
    left: 0px;
}
#sicVal {
    margin: 2px 0px;
    width: 60%;
    display: inline-block;
    height: 14px;
    background-color: white;
    opacity: 1;
    border-radius: 6px;
}



button {
    border-radius: 5px;
    background: #017533;
    color: #ececec;
    font-size: 16px;
    margin: 10px;
}

input {
    cursor: pointer;
}
#rtws {
    width: inherit;
    padding: 1px 3px;
    top: -0px;
}

/* END FILTER WINDOW CODE */


#playbutton {
    color: #fffded;
    width: 35px;
    font-size: 12px;
    text-align: center;
    top: -3px;
    bottom: 4px;
}
#playbutton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}



#Lock {
    border: none;
    padding: 1px;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    width: 70px;
    
}


#Lock:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */

    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}




/* Switch CSS code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    font-size: 12px;
    text-align: center;
    
}


.switch input { 
    opacity: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    font-size: 12px;
    text-align: center;
    
}


.switch input { 
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    color: #fffded;
    background-color: #017533;
    -webkit-transition: .4s;
    transition: .4s;
    
}

.slider:before {
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #004a1f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #004a1f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/* Switch CSS code from https://webcodespace.com/how-to-create-a-three-state-toggle-switch-using-html-css-and-javascript/ */


input {
    appearance: none;
    background-color: black;
    border-radius: 40%;
    opacity: 0;
    height: 8px;
    width: 8px;
    margin: 2px;
}
input:hover {
    cursor: pointer;
}

.jvtri-state-toggle {
    display: inline-flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 30px;
}
.aqtri-state-toggle {
    display: inline-flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 30px;
}
.nwtri-state-toggle {
    display: inline-flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 30px;
}



/*Three position toggle switches (fitler)*/
#jvone {
    background-color: red;
}
#jvtwo {
    background-color: white;
    opacity: 1;
}
#jvthree {
    background-color: lawngreen;
}


#aqone {
    background-color: red;
}
#aqtwo {
    background-color: white;
    opacity: 1;
}
#aqthree {
    background-color: lawngreen;
}


#nwone {
    background-color: red;
}
#nwtwo {
    background-color: white;
    opacity: 1;
}
#nwthree {
    background-color: lawngreen;
}




